{% import "../../macros/macro.html" as macro %}
<section class="choice {% if module.style.pull_bottom_content %} choice-bottom {% endif %}">
  <div class="container">
    <div class="choice__content">
      <div class="choice__text">
        <p>{{ module.title }}</p>
      </div>
      <div class="swiper choice__swiper">
        <div class="swiper-wrapper">
          {% for item in module.logos %}
          <div class="swiper-slide">
            <div class="choice__img">
              {{ macro.image(item.image) }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>